* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

#header {
  background-color: #151515;
  color: white;
}

.container {
  width: 80%;
  margin: 0px auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#logo {
  width: 40%;
  float: left;
}

#navigation {
  float: right;
  width: 60%;
}

#navigation ul li {
  float: left;
  list-style-type: none;
  margin-right: 20px;
  margin-top: 25px;
}

#navigation ul li:nth-child(even) {
  color: green;
}

#section-one-image {
  height: 400px;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  padding-top: 80px;
  box-sizing: border-box;
  color: white;
}

#section-one-image h1 {
  font-size: 60px;
  font-weight: 100;
  margin-bottom: 10px;
}

#section-one-image h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

#section-one-image button {
  background-color: #40a208;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}
