* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding-bottom: 100px;
}
#header {
  background-color: #151515;
  color: white;
}

.container {
  width: 80%;
  margin: 0px auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#logo {
  width: 40%;
  float: left;
}

#navigation {
  float: right;
  width: 60%;
}

#navigation ul li {
  float: left;
  list-style-type: none;
  margin-right: 20px;
  margin-top: 25px;
}

#navigation ul li:nth-child(even) {
  color: green;
}

#section-one-image {
  height: 400px;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  padding-top: 80px;
  box-sizing: border-box;
  color: white;
}

#section-one-image h1 {
  font-size: 60px;
  font-weight: 100;
  margin-bottom: 10px;
}

#section-one-image h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

#section-one-image button {
  background-color: #40a208;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.skills-items {
  float: left;
  width: 30%;
  text-align: center;
  margin-right: 63px;
}

.skills-items:nth-child(3) {
  margin-right: 0px;
}
.skills-items h3 {
  color: #c0b0a7;
  margin-bottom: 10px;
}
.skills-items p {
  color: #b3a1a2;
}
#skills-container {
  margin-top: 40px;
}
#line-heading-section {
  margin-top: 80px;
  text-align: center;
  position: relative;
}
#line-heading-section button {
  background-color: #008000;
  color: white;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 600;

  position: absolute;
  top: -17px;
  left: 42%;
}

#temp-white-bg-effect {
  background-color: white;
  position: absolute;
  top: -23px;
  left: 41%;
  width: 218px;
  height: 50px;
}
