* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding-bottom: 100px;
}

#header {
  background-color: #151515;
  color: white;
}

.container {
  width: 80%;
  margin: 0px auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#logo {
  width: 40%;
  float: left;
}

#navigation {
  float: right;
  width: 60%;
}

#navigation ul li {
  float: left;
  list-style-type: none;
  margin-right: 20px;
  margin-top: 25px;
}

#navigation ul li:nth-child(even) {
  color: green;
}

#section-one-image {
  height: 400px;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  padding-top: 80px;
  box-sizing: border-box;
  color: white;
}

#section-one-image h1 {
  font-size: 60px;
  font-weight: 100;
  margin-bottom: 10px;
}

#section-one-image h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

#section-one-image button {
  background-color: #40a208;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.skills-items {
  float: left;
  width: 30%;
  text-align: center;
  margin-right: 63px;
}

.skills-items:nth-child(3) {
  margin-right: 0px;
}
.skills-items h3 {
  color: #c0b0a7;
  margin-bottom: 10px;
}
.skills-items p {
  color: #b3a1a2;
}
#skills-container {
  margin-top: 40px;
}
#line-heading-section {
  margin-top: 80px;
  text-align: center;
  position: relative;
}
#line-heading-section button {
  background-color: #008000;
  color: white;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 600;

  position: absolute;
  top: -17px;
  left: 42%;
  width: 195px;
}

#temp-white-bg-effect {
  background-color: white;
  position: absolute;
  top: -23px;
  left: 41%;
  width: 218px;
  height: 50px;
}

#testimonails-container {
  margin-top: 40px;
}

#testimonial-image {
  float: left;
  width: 35%;
}

#testimonial-right-side {
  float: right;
  width: 65%;
  margin-top: 20px;
}

#testimonial-right-side p {
  text-align: center;
  margin-top: 20px;
  color: #b3a1a2;
}

#footer {
  padding-top: 60px;
}

#footer-left-side {
  float: left;
  width: 60%;
}

#footer-right-side {
  float: right;
  width: 40%;
  text-align: right;
}

.contact-info {
  margin-bottom: 10px;
}

.contact-info img {
  float: left;
}

.contact-info p {
  float: left;
  margin-top: 8px;
  margin-left: 9px;
}

#social-image {
  margin-top: 80px;
}

/*
https://www.freecodecamp.org/news/css-media-queries-breakpoints-media-types-standard-resolutions-and-more/
  320px — 480px: Mobile devices
  481px — 768px: iPads, Tablets
  769px — 1024px: Small screens, laptops
  1025px — 1200px: Desktops, large screens
  1201px and more —  Extra large screens, TV
*/

/* 
Repeat Responsive From This Link

https://www.w3schools.com/css/tryit.asp?filename=tryresponsive_mediaquery


*/

/*  Desktops, large screens */
@media (max-width: 1200px) {
  .skills-items {
    float: none;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 40px;
  }
}

/* Small screens, laptops */
@media (max-width: 1024px) {
  #logo {
    float: none;
    width: 100%;
    text-align: center;
  }
  #navigation {
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
  #navigation ul {
    padding-left: 200px;
  }

  #testimonial-right-side {
    float: none;
    width: 100%;
    text-align: center;
  }
}

/* iPads, Tablets */
@media (max-width: 768px) {
  #navigation ul {
    padding-left: 90px;
  }
  #testimonial-image {
    float: none;
    width: 100%;
    text-align: center;
  }
}

/* Mobile devices */
@media (max-width: 580px) {
  #navigation ul {
    padding-left: 0px;
  }
  #navigation ul li {
    float: none;
    width: 100%;
    text-align: center;
  }
  #line-heading-section button {
    left: 30%;
  }
  #temp-white-bg-effect {
    left: 28%;
  }
  #footer-left-side {
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
  #footer-right-side {
    float: none;
    width: 100%;
    text-align: center;
  }
  .contact-info {
    margin-left: 68px;
  }
}

@media (max-width: 480px) {
  #section-one-image {
    height: 500px;
  }
}
